@font-face {
  font-family: 'CascadiaCode';
  src:  url('./CascadiaCode.ttf') format('truetype')
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

nav {
  position: relative;
  background: #234;
  overflow: auto;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 570px) {
  .nav-content {
    width: 120%;
  }
}

@media screen and (max-width: 481px) {
  .nav-content {
    width: 110%;
  }
  nav .lbl-button span {
    display: none;
  }
}

.CodeMirror {
  font-size: 16px;
  color:  red;
}

#live-preview {
  width: 100%;
  height: 100%;
  background: white;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
}

.content {
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
}

.content .tab {
  width: 100%;
  height: calc(100vh - 70px);
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.content .tab > div {
  width: 100%;
  height: 100%;
}

input[type="radio"] {
  display: none;
}

#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4 {
  visibility: visible;
  opacity: 1;
}

.lbl-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.tabs>label img {
  margin-left: 0;
}
.lbl-button span {
  margin-right: 5px;
}

fieldset {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
